table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead th {
  background-color: #a6a563;
  color: white;
  padding: 10px;
}

tbody td {
  border: 1px solid #515667;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  height: 100px;
  width: 14.28%;
}

tbody td div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

tbody td span {
  font-weight: bold;
  margin-bottom: 5px;
}

tbody td div p {
  margin: 5px 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

.current-day {
  background-color: #324481;
  border: 2px solid #4caf50;
}

.workday {
  background-color: #527e9e;
}

.workday:hover {
  background-color: #6e98b6;
  cursor: pointer;
}

.anyday {
  background-color: #383f57;
}

.selected-day {
  border: 2px solid #6200ea;
}

.day-container {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.current-day.workday {
  background-color: #d0e8fc;
  border: 2px solid #4caf50;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 64px;
}

.calendar-header {
  color: #a6a563;
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.calendar-table {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.calendar-navigation {
  margin-top: 10px;
}

.calendar-navigation button {
  font-size: 80px;
  cursor: pointer;
  background: none;
  border: none;
  color: #276ea8;
}

.calendar-navigation button:hover {
  color: #007bff;
}

.pointer-cursor:hover {
  cursor: pointer;
  background-color: #3c4f64;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}
