backend/HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Eclipse
.project
.classpath
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Maven
target/
*.mvn
.mvn/

# Spring Boot
/build/

# Application properties
/backend/src/main/resources/application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Frontend
/frontend/node_modules/
/frontend/dist/

# Compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Node
frontend/node_modules
frontend/npm-debug.log
frontend/yarn-error.log

# IDEs and editors
frontend/.project
frontend/.classpath
frontend/.c9/
frontend/*.launch
frontend/.settings/
frontend/*.sublime-workspace

# Visual Studio Code
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
frontend/.history/*

# Miscellaneous
frontend/.angular/cache
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# Other
*.swp
*.swo
