<div class="add-lesson-container">
  <div class="calendar-timeline-container">
    <div class="calendar-section">
      <h3>Select a Date</h3>
      <app-calendar
        [mode]="'lesson-scheduler'"
        (daySelected)="onDaySelected($event)"
      ></app-calendar>
    </div>
    <div class="timeline-section">
      <h3>Day's Schedule</h3>
      <div class="timeline">
        <div
          *ngFor="let slot of timeSlots; let i = index"
          [ngClass]="{
            occupied: slot.occupied,
            'free-slot': !slot.occupied,
            'occupied-slot': slot.occupied,
            'selected-slot': slot.selected
          }"
          class="timeline-slot"
          (click)="onTimeSlotClick(i)"
        >
          {{ slot.time }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-section">
  <h2>{{ isEditMode ? "Reschedule Lesson" : "Add Lesson" }}</h2>
  <form (ngSubmit)="saveLesson()">
    <div>
      <label>Date:</label>
      <span class="time-display">{{
        selectedDate | date : "EEEE, MMMM d, y"
      }}</span>
    </div>
    <div>
      <label>Start Time:</label>
      <span class="time-display"> {{ lesson.startTime }} </span>
    </div>
    <div>
      <label>End Time:</label>
      <span class="time-display"> {{ lesson.endTime }} </span>
    </div>
    <div class="client-selection-container">
      <div class="client-list-container available-clients">
        <h3>Available Clients</h3>
        <input
          type="text"
          [(ngModel)]="searchQuery"
          (ngModelChange)="filterClients()"
          placeholder="Search Clients..."
          name="searchQuery"
          class="search-bar"
        />
        <div class="client-list">
          <mat-card
            class="client-card"
            *ngFor="let client of filteredClients"
            (click)="addClient(client)"
          >
            <mat-card-content>
              {{ client.name }}
            </mat-card-content>
            <mat-icon
              class="client-action-icon-add"
              (click)="addClient(client)"
            >
              add_circle
            </mat-icon>
          </mat-card>
        </div>
      </div>

      <div class="client-list-container selected-clients">
        <h3>Selected Clients</h3>
        <div class="client-list">
          <mat-card
            class="client-card"
            *ngFor="let client of selectedClients"
            (click)="removeClient(client)"
          >
            <mat-card-content>
              {{ client.name }}
            </mat-card-content>
            <mat-icon
              class="client-action-icon-remove"
              (click)="removeClient(client)"
            >
              remove_circle
            </mat-icon>
          </mat-card>
        </div>
      </div>
    </div>
    <button type="submit">Save</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
