<div>
  <h2 class="mat-headline">Clients</h2>
  <mat-card>
    <table mat-table [dataSource]="clients" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let client">{{ client.name }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let client">{{ client.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let client">{{ client.notes }}</td>
      </ng-container>

      <ng-container matColumnDef="subscriptionTotalLessons">
        <th mat-header-cell *matHeaderCellDef>Total Sub Lessons</th>
        <td mat-cell *matCellDef="let client">
          {{ client.subscriptionTotalLessons }}
        </td>
      </ng-container>

      <ng-container matColumnDef="remainingLessons">
        <th mat-header-cell *matHeaderCellDef>Remaining Lessons</th>
        <td mat-cell *matCellDef="let client">{{ client.remainingLessons }}</td>
      </ng-container>

      <ng-container matColumnDef="subscriptionStartDate">
        <th mat-header-cell *matHeaderCellDef>Sub Start Date</th>
        <td mat-cell *matCellDef="let client">
          {{ client.subscriptionStartDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let client">
          <button
            mat-button
            color="primary"
            *ngIf="client.id !== null"
            (click)="editClient(client.id)"
          >
            Edit
          </button>
          <button
            mat-button
            color="warn"
            *ngIf="client.id !== null"
            (click)="deleteClient(client.id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
  <button
    mat-fab
    color="primary"
    (click)="router.navigate(['/clients/new'])"
    class="add-client-button"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
