<div *ngIf="workday">
  <h2 class="mat-headline">
    Workday Details for {{ workday.date | date : "fullDate" }}
  </h2>
  <mat-card class="custom">
    <mat-card-header>
      <mat-card-title>Lessons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let lesson of workday.lessons">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ formatDate(lesson.startTime) }} -
              {{ formatDate(lesson.endTime) }}
            </mat-panel-title>
            <mat-panel-description>
              Clients: {{ lesson.clients?.length }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item
              *ngFor="let client of lesson.clients"
              class="client-list-item"
            >
              <h4 matLine>{{ client.name }} ({{ client.phone }})</h4>
              <p matLine *ngIf="client.notes">
                {{ client.notes }}
              </p>

              <mat-radio-group
                [(ngModel)]="attendanceStatuses[lesson.id!][client.id!]"
                (change)="markAttendance(lesson.id!, client.id!)"
              >
                <mat-radio-button
                  [value]="'ATTENDED'"
                  [disabled]="
                    attendanceStatuses[lesson.id!][client.id!] !== 'PENDING'
                  "
                >
                  Attended
                </mat-radio-button>
                <mat-radio-button
                  [value]="'ABSENT'"
                  [disabled]="
                    attendanceStatuses[lesson.id!][client.id!] !== 'PENDING'
                  "
                >
                  Absent
                </mat-radio-button>
              </mat-radio-group>
            </mat-list-item>
          </mat-list>

          <mat-action-row>
            <button type="edit" (click)="rescheduleLesson(lesson.id)">
              Edit
            </button>
            <button type="remove" (click)="removeLesson(lesson.id)">
              Remove
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!workday">
  <p>Loading workday details...</p>
</div>
