mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-dialog-content {
  min-width: 300px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
